---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Noima</title>
	</head>
	<body>
		<h1 class="text-4xl font-bold text-center mt-10">Noima</h1>
	</body>
</html>
